body {
    background-color: blue
}
h1 {
    color: white;
}
h2{
    color: #31BB66;
    font-size: 35px;
}
h3{
    font-size:20px ;
    color: white;
}
h4{
    color: white;
    font-size: 16px;
}
header{
    text-align: center;
}
p{
    color: white;
}

a {
    color: red;
    font-size: 20px;
    margin: 20px;
}
.nav{
    text-align: center;
    background-color: #11244D;
    padding: 10px ;
}